%div{:id => "new_article"}
  - if @article
    - if @article.validation_errors
      #errors
        %h3 Sorry, but you forgot somethings..
        %ol
          - @article.validation_errors.each do |error|
            %li 
              = error
            
  %h3 New Article
  %form{:id => "article_form", :method => "post", :action => "/articles/create"}
    %label Title:
    %br
    %input{:id => "article_title", :name => "article_title", :type => "text", :value => "#{@article.title if @article}"} 
    %br
    %label Text:
    %br
    %textarea{:id => "article_text", :name => "article_text", :cols => "40" , :rows => "15"}= @article.text if @article
    %br
    %lable Written by:
    %br
    %input{:id => "article_posted_by", :name => "article_posted_by", :type => "text", :value => "#{@article.posted_by if @article}"}
    %br
    %label Tags
    %br
    %input{:id => "article_tags", :name => "article_tags", :value => ""}
    %br
    %input{:type => "submit", :value => "Post"}

