!!! Strict

%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title 
      = @title || 'My Way - sung my Sinatra!'
      
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :media => "all"}
    
  %body
    %h1 The Sinatra Way

    = yield